p {

}
div {
    background: green; 
    color: white;
    width:45%  ;
    border-radius:15px;
    margin-top:4%; 
    padding: 12px;
   
}
#fo {
     margin-left: auto;
     margin-right: auto;
}
table{
     margin-left: auto;
     margin-right: auto;
}
